.productGalleryWrapper{
  overflow: hidden;
  width: fit-content;
}

.galleryScroll {
  overflow-x: auto;
  overflow-y: hidden;
}

.gallery {
  display: flex;
  gap: 2rem;
  width: max-content;
  padding: 2rem;
}
