/* Product card */
.productCard {
  flex: 0 0 auto;
  width: 30rem;
}

.productImage {
  position: relative;
  height: 35rem;
}
.productImage > button {
  position: absolute;
  bottom: 10%;
  inset-inline: 10%;
  opacity: 0;
}

.productCard:hover > .productImage > button {
  opacity: 1;
}

.discountTag {
  position: absolute;
  background-color: rgb(var(--color-neutral));
  padding: 1rem;
  right: 0%;
}

.productThumb{
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.productInfo{
  padding: var(--size-1);
  background-color: rgb(228, 228, 228);
  display: grid;
  gap: var(--size-1);
}

.productName {
  font-size: var(--font-size-body-large);
  font-weight: var(--font-weight-medium);
  text-transform: capitalize;
}

.productShortDescription {
  opacity: 0.5;
  line-height: 20px;
  text-transform: capitalize;
  overflow: hidden;
}

.productInfo:hover > .productShortDescription {
  opacity: 1;
}

.price {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-body-large) ;
}

.actualPrice{
  font-size: (--font-size-body-large);
  text-decoration: line-through;
}


.priceWrapper {
  display: flex;
  justify-content: space-evenly;
}
/* End Product card */
